/* General */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Purple-50: hsl(260, 100%, 95%);
    --Purple-300: hsl(264, 82%, 80%);
    --Purple-500: hsl(263, 55%, 52%);

    --White: hsl(0, 0%, 100%);
    --Grey-100: hsl(214, 17%, 92%);
    --Grey-200: hsl(0, 0%, 81%);
    --Grey-400: hsl(224, 10%, 45%);
    --Grey-500: hsl(217, 19%, 35%);
    --Dark-blue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);
}

body {
    margin: 0;
    font-size: 13px;
    font-family: 'Barlow Semi Condensed';
}

h2, h3 {
    font-weight: 500;
}

/* sections */

main {
    display: grid;
    margin: 20% 10%;
    filter: drop-shadow(50px 50px 25px #c5c5c5);
}

section {
    border-radius: 10px;
    margin: 5% 0;
    padding: 40px;
}

/* Bio */

section .bio {
    display: flex;
}

section .bio img {
    border-radius: 50%;
    border: 3px solid var(--Purple-300);
    width: 32px;
    height: 32px;
    margin-right: 20px;
}

section .bio div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section .bio div h3, p {
    margin: 0;
}

/* Colored blocks */

/* Purple */
.purple {
    background-color: var(--Purple-500);
    color: var(--Purple-50);
}

.purple img {
    border-color: var(--Purple-300);
}

/* grey */
.grey {
    background-color: var(--Grey-500);
    color: var(--Grey-100);
}

.grey .bio img {
    border-color: var(--Grey-400);
}

.grey p {
    color: var(--Grey-200);
}

/* White */
.white {
    background-color: var(--White);
    color: var(--Grey-500);
}

.white .bio img {
    border: none;
}

.grey p {
    color: var(--Grey-200);
}

/* Dark blue */
.dark-blue {
    color: var(--Grey-200);
    background-color: var(--Dark-blue);
}

.dark-blue .bio img {
    border-color: var(--Purple-500);
}

.grey p {
    color: var(--Grey-100);
}

@media (min-width: 700px) {
    main {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2.5%;
        row-gap: 5%;
        margin: 10%;
    }
    section {
        margin: 0;
    }
    .purple {
        grid-column: 1 / span 2; 
        grid-row: 1; 
    }
    .grey {
        grid-column: 3; 
        grid-row: 1;
    }
    .second {
        grid-column: 4; 
        grid-row: 1 / span 2; 
    }
    .first {
        grid-column: 1; 
        grid-row: 2; 
    }
    .dark-blue {
        grid-column: 2 / span 2; 
        grid-row: 2; 
    }
}